@charset "utf-8";

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #fffad5;
		Xbackground-image: url(pics/tile.png);
	margin: 0;
	padding: 0;
	text-align: left;
	color: #fff;
}

.wrapper #container { 
	width: 780px;
	background: #fffad5;
	margin: 0 auto;
		Xborder: 1px solid #000;
	text-align: left;
} 

.wrapper #header { 
		Xcolor: #00F;
		Xbackground: #00F;
		Xbackground-color: #00F;
	background-image: url(pics/tile.png);
	height: 75px;
		Xpadding: 0 10px 0 20px;
	margin-top: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.wrapper #header img {
	float: none;
	padding-left: 140px;
}

.wrapper #nav_bar {
		Xbackground: #093;
	background: #fff;
		Xwidth: 780px;
		Xheight: 59px;
	border-bottom: thin solid #eee;
}

.wrapper #nav_bar p {
	padding: 10px 10px 0 20px;
	font-size: 12px;
	color: #105b63;
}

.wrapper #nav_bar a {
		Xmargin-right: 2em;
	margin-left: 2em;
	text-decoration: none;
}

.wrapper #dumb {
	height: 600px;
	background: #fff;
		Xborder-radius: 30px;
		Xmargin-bottom: 5px;
}

.wrapper #footer { 
	padding: 0 10px 0 20px;
		Xbackground: #fff;
	background-image: url(pics/tile.png);
		Xborder-top: thin dashed #006;
	margin-bottom: 10px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
} 

.wrapper #footer p {
	margin: 0;
	padding: 10px 0;
	font-size: 10px;
	text-align: center;
}

.wrapper #footer p a {
	color: #000;
	margin-right: 5em;
	font-weight: bolder;
	text-decoration: none;
}

.wrapper #extra {


}